h1 {
  color: rgb(242, 198, 140);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
}
h2 {
  color: rgb(255, 132, 0);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
h3 { 
  color: brown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
body {
  background-color: rgb(150, 133, 89);
  text-align: center;
}
p {
  color: sandybrown;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}
img {
  width: 450px;
}
ol {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  list-style-position: inside;
  line-height: 30px;
}
a {
  color: yellow;
}
a:hover {
  color: black;
  font-style: italic;
}